﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body style="background: 	rgb(255, 255, 254);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/Home/Index">Новости</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index">Главнaя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Politics">Политика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Business">Бизнес</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/ShowBusiness">Шоу-бизнес</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Society">Общество</a>
                </li>&#8195;  &#8195;
                @if (@User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/List">Управление новостями<span class="sr-only">(current)</span></a>
                    </li>}
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Login">Войти как админ<span class="sr-only">(current)</span></a>
                    </li>}
                }

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>
        </div>
    </nav>



    <br><br>

    <div class="container body-content">
        @RenderBody()
        </div>
        <div class="container body-content">

            <hr />
            <footer>


                <p style="font-weight: bold;">
                    Все права защищены.
                </p>
                <p>&copy; 2019 - Асылжан Сванов</p>
                @if (@User.Identity.IsAuthenticated)
                {
                    <p>
                        <a href="~/Account/Logout">Выйти из режима администратора</a> &#8195;
                        <a href="~/Account/Register">Добавить администраторa</a>
                    </p>
                }
                else
                {
                    <p><a href="~/Home/List">Войти как админ</a></p>
                }
            </footer>
        </div>

        @RenderSection("Scripts", required: false)
</body>
</html>
