﻿@model WebApplication1.ViewModels.LoginModel

<h2>Вход на сайт</h2>
<br><br>
<div class="row">

    <div class="col-4">

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div class="form-group">
                    <label asp-for="Email">Введите Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Password">Введите пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </div>
               <br>
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-primary" value="Войти"  />
                    </div>
            </div>
        </form>
    </div>
</div>