﻿@model WebApplication1.ViewModels.RegisterModel

<h2>Регистрация</h2>
<br><br>

<div class="row">

    <div class="col-4">

        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div>
                    <label asp-for="Email">Введите Email</label><br />
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Логин" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div>
                <p><p> <p><p>
                    <div>
                        <label asp-for="Password">Введите пароль</label><br />
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Пароль" asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                <p><p> <p><p>
                    <div>
                        <label asp-for="ConfirmPassword">Повторите пароль</label><br />
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Повторите пароль" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" />
                    </div>
                    <br>
                <p><p>
                    <div class="form-group">
                        <input type="submit" value="Зарегестрироваться" class="btn btn-primary col" />
                    </div>
            </div>
        </form>

    </div>

</div>
