﻿@{
    ViewData["Title"] = "Добавить";
}

<h1>Добавить новость</h1>
<br><br>
    <form asp-action="Add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Категория: </label>
            <select class="form-control" id="exampleFormControlSelect1" name="Category">
                <option selested hidden>Выбрать категорию</option>
                <option>Политика</option>
                <option>Бизнес</option>
                <option>Шоу-бизнес</option>
                <option>Общество</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Заголовок: </label>
            <input class="form-control" id="exampleFormControlInput1" name="Title" placeholder="Что нибудь интересное">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Язык: </label>
            <select class="form-control" id="exampleFormControlSelect1" name="Language">
                <option>RU</option>
                <option>KZ</option>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Краткое содержание: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="ShortContent"></textarea>

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Полное содержание: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="FullContent"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Загрузите изображение для превью:</label>
            <input type="file" id="files" name="PreviewPhoto"  />
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Загрузите изображение для полного текста:</label>
            <input type="file" id="files" name="MainPhoto" />
        </div>
        <div class="form-group">
            <label for="exampleFormControlDateTime1">Дата и время публикации: </label>
            <input type="datetime" class="form-control" id="exampleFormControlInput1" name="Date" value='@DateTime.Now' readonly>
        </div>
        <br><br>
        <div align="center">
            <a href="~/Home/List"> <button type="button" class="btn btn-danger btn-lg">    Удалить    </button></a>
            <button type="submit" class="btn btn-success btn-lg">Опубликовать</button>
        </div>
    </form>

