﻿@model IEnumerable<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Удалить";
}

<h2>Вы действительно хотите удалить новость ?</h2>
<p><p><p><p>
    @foreach (var post in Model.Reverse())
    {
        if (@post.Id == @ViewBag.PostId)
        {
            <form method="post" asp-action="Delete">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Категория: </label>
                    <select class="form-control" id="exampleFormControlSelect1" name="Category" selected='@post.Category' disabled>
                        @if (post.Category == "Политика")
                        {
                            <option selected>Политика</option>}
                        else
                        {
                            <option>Политика</option>}
                        @if (post.Category == "Бизнес")
                        {
                            <option selected>Бизнес</option>}
                        else
                        {
                            <option>Бизнес</option>}
                        @if (post.Category == "Шоу-бизнес")
                        {
                            <option selected>Шоу-бизнес</option>}
                        else
                        {
                            <option>Шоу-бизнес</option>}
                        @if (post.Category == "Общество")
                        {
                            <option selected>Общество</option>}
                        else
                        {
                            <option>Общество</option>}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Заголовок: </label>
                    <input class="form-control" id="exampleFormControlInput1" name="Title" placeholder="Что нибудь интересное" value='@post.Title' readonly>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Язык: </label>
                    <select class="form-control" id="exampleFormControlSelect1" name="Language" disabled>
                        @if (post.Category == "RU")
                        {
                            <option selected>RU</option>}
                        else
                        {
                            <option>RU</option>}
                        @if (post.Category == "KZ")
                        {
                            <option selected>KZ</option>}
                        else
                        {
                            <option>KZ</option>}


                    </select>
                </div>
            
            <div align="center">
                <a href="~/Home/List"> <button type="button" class="btn btn-primary btn-lg">Отменить</button></a>
                <button type="submit" class="btn btn-danger btn-lg"> Удалить </button>
            </div>
            </form>
        }
    }
