﻿@model IEnumerable<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Изменить";
}

<h1>Изменить новость</h1>

@foreach (var post in Model.Reverse())
{
    if (@post.Id == @ViewBag.PostId)
    {
<form  asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Категория: </label>
        <select class="form-control" id="exampleFormControlSelect1" name="Category" selected='@post.Category'>
            @if (post.Category == "Политика")
            {
                <option selected>Политика</option>}
            else
            {
                <option>Политика</option>}
            @if (post.Category == "Бизнес")
            {
                <option selected>Бизнес</option>}
            else
            {
                <option>Бизнес</option>}
            @if (post.Category == "Шоу-бизнес")
            {
                <option selected>Шоу-бизнес</option>}
            else
            {
                <option>Шоу-бизнес</option>}
            @if (post.Category == "Общество")
            {
                <option selected>Общество</option>}
            else
            {
                <option>Общество</option>}
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Заголовок: </label>
        <input class="form-control" id="exampleFormControlInput1" name="Title" placeholder="Что нибудь интересное" value='@post.Title'>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Язык: </label>
        <select class="form-control" id="exampleFormControlSelect1" name="Language">
            @if (post.Category == "RU")
            {
                <option selected>RU</option>}
            else
            {
                <option>RU</option>}
            @if (post.Category == "KZ")
            {
                <option selected>KZ</option>}
            else
            {
                <option>KZ</option>}


        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Краткое содержание: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="ShortContent">@post.ShortContent</textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea2">Полное содержание: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="FullContent">@post.FullContent</textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Загрузите изображение для превью:</label>
        <input type="file" id="files" name="PreviewPhoto" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Загрузите изображение для полного текста:</label>
        <input type="file" id="files" name="MainPhoto" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlDateTime1">Дата и время изменения: </label>
        <input type="datetime" class="form-control" id="exampleFormControlInput1" name="Date" value='@DateTime.Now' readonly>
    </div>
    <br><br>
    <div align="center">
        <a href="~/Home/List"> <button type="button" class="btn btn-danger btn-lg">    Отменить   </button></a>
        <button type="submit" class="btn btn-success btn-lg">   Изменить   </button>
    </div>

</form>
    }
}
