﻿@model IEnumerable<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Каталог новостей";
}

<html>
<head>

</head>
<body>
        <div class="row">
            <div class="col-md-6" align="left">
                <h1>Список новостей:</h1>
            </div>
            <div class="col-md-6" align="right">
                <a href="~/Home/Add"><button class="btn btn-success btn-lg" type="button">+  Добавить новость </button></a>
            </div>
       </div>
  
    <br><br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Название</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Reverse())
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.Category</td>
                        <td>@post.Title.</td>
                        <td>
                           
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="~/Home/Record/@post.Id" class="btn btn-secondary"><i class="fas fa-info-circle"></i></a> 
                                <a href="~/Home/Edit/@post.Id" class="btn btn-secondary"><i class="fas fa-edit"></i></a> 
                                <a href="~/Home/Delete/@post.Id" class="btn btn-secondary"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</body>
</html>