﻿@model IEnumerable<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Политика";
}

<html>
<head>

</head>
<body>
    <h1>Политика</h1>
    <br><br>
        <div class="card-columns">
            @foreach (var post in Model.Reverse())
            {
                if (@post.Category == "Политика")
                {

            <div class="card" style="width: 22rem;">
                @{
                    if (@post.PreviewPhoto != null)
                    {
                        var base64 = Convert.ToBase64String(@post.PreviewPhoto);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img src='@imgsrc' class="card-img">
                    }
                  
                }
                <div class="card-body">
                    <strong>
                        <a class="card-title" style="font-size: 19px; color: black;" href="~/Home/Record/@post.Id">@post.Title</a>
                    </strong>
                    <p class="card-text" align="justify" style="white-space:pre-wrap">@post.ShortContent</p>
                    <p class="card-text">@post.Date</p>
                </div>
            </div>

                }
            }
        </div>
    </body>
</html>