﻿@model IEnumerable<WebApplication1.Models.Post>
@{
    ViewData["Title"] = "Свежие новости РК и мира";
}

<div>
    @foreach (var post in Model.Reverse())
    {
        if (@post.Id == @ViewBag.PostId)
        {
            <h2>@post.Title</h2>
            <br><br>
            <blockquote class="blockquote">
                <p class="mb-0" align="justify" style="white-space:pre-wrap">       @post.ShortContent</p>
            </blockquote>

                if (@post.MainPhoto != null)
                {
                    var base64 = Convert.ToBase64String(@post.MainPhoto);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    <img src='@imgsrc' class="card-img">
                }
            <p></p> <p></p>
            <p class="lead" align="justify" style="white-space:pre-wrap ">@post.FullContent</p>
        }
    }
</div>
